{% extends '::base.html.twig' %}
{% block title %}A propos {% endblock %}

{% block body %}
<div class="jumbotron col-md-8 col-md-offset-1">
    <div class="container">
    <h1>Trombinoscope!</h1>
        <p> Ceci est une platforme, présentant les informations concernant les personnes travaillant à l'AQUALEHA </p></div></div>
{% endblock %}