{% extends '::base.html.twig' %}

{% block title %} Liste des membres du service {{ service.name }}{% endblock %}

{% block body %}


    {% for Personnes in service.personnes %}
        <table>
            <tbody>
            <tr>
                <td> {{ Personnes.name }} </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}