{% extends '::base.html.twig' %}
{% block body %}
    <div class="table-responsive">
    <table class="table">
    <thead>
    <tr>
        <th>Personnes</th><br>
    </tr></thead>
    <tbody>
    {% for Personnes in ListePersonnes  %}
        <tr class="active">
            <td><b> Nom:</b>
                <a href="{{ path('Trombinoscopestaff_personne_edit', {id: Personnes.id})}}">{{ Personnes.name }} </a></td>
            {% endif %}
        </tr></tbody></table></div>
{% endblock %}