{% extends '::base.html.twig' %}
{% block title %} Liste de pôles AQUALEHA {% endblock %}

{% block body %}
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ path('Trombinoscopestaff_homepage') }}"><span aria-hidden="true">&larr;</span> Menu</li></ul></nav></a>
    <div class="jumbotron col-md-4 col-md-offset-1">

<legend> Liste de Pôles</legend>

    <div class="panel panel-default">

        <div class="panel-heading"><b> Pôles</b></div>


        <table class="table">
        <tbody>
    {% for Pole in ListePole  %}
        <tr>
            <td><a href="{{ path('Trombinoscopestaff_service', {'slug':Pole.slug}) }}">{{ Pole.nom }}</a></td>
        </tr>
        <tr>
        <td> {{ Pole.description }}</td>
        </tr>
        <tr>

        {% endfor %}
        </tbody>
        </table>

</div>
{% endblock %}